.email-details {
  padding: 16px 24px;
}

.email-details .sub-header,
.email-details .sub-header aside {
  align-items: center;
  display: flex;
  gap: 8px;
}

.email-details .sub-header aside {
  margin-left: auto;
}

.email-details .sub-header .action-buttons {
  display: flex;
  gap: 8px;
}

.email-details main {
  margin-top: 32px;
}