.email-compose.minimized {
  grid-template-rows: auto 0;
  height: 2.4em;
}

.email-compose.normal {
  grid-template-rows: auto 1fr;
  height: 32em;
}

.email-compose.full {
  position: fixed; 
  inset: 0;
  border-radius: 0.5em;
  margin: 2em;
  grid-template-rows: 2.5em auto;

  header {
    border-radius: 0.5em 0.5em 0 0;
  }
}

.email-compose {
  position: absolute;
  bottom: 0px;
  right: 2em;
  width: 32em;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.5em 0.5em 0 0;
  box-shadow: 0px 8px 12px 4px rgba(0,0,0,.14), 0px 3px 14px 4px rgba(0,0,0,.12), 0px 5px 5px -3px rgba(0,0,0,.2);
  display: grid;
  grid-template-columns: 1fr;
  z-index: 2;
  overflow: hidden;

  header {
    background-color: #ccc;
    border-radius: inherit;
    display: flex;
    flex-direction: row;
    grid-column: 1 / -1;
    grid-row: 1 / span(1);
    padding: 0.5em;

    h4 {
      font-weight: 600;
    }

    .buttons-wrapper {
      margin-left: auto;
    }
  }

  main {
    grid-column: 1 / -1;
    grid-row: 2 / span(1);
    padding: 0.5em;

    form {
      display: flex;
      flex-direction: column;

      textarea {
        flex-grow: 1;
      }
    }
  }

  footer {

  }
}