.email-sorter {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #e1e7ee;
  display: flex;
  height: 40px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.email-sorter button {
  border: 1px solid #c6ced6;
  border-radius: 35px;
  font-size: 15px;
  margin-left: 20px;
  padding: 4px 20px;
}

.email-sorter button.active {
  border: 1px solid black;
  font-weight: 500;
}

.email-sorter button img {
  width: 10px;
}