.email-list {
  grid-column: 2 / span 1;
  background-color: rgb(219, 219, 219);
  display: grid;
  grid-template-columns: 28px 64px minmax(100px, 200px) minmax(200px, 1fr) 256px;
  overflow: scroll;
  height: 100%;
}

.email-list a {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  text-decoration: none;
}