.email-list {
  grid-column: 2 / span 1;
  background-color: rgb(219, 219, 219);
  display: grid;
  grid-template-columns: 28px 48px minmax(100px, 200px) minmax(200px, 1fr) 256px;
  overflow: scroll;
  height: 100%;
}